<!DOCTYPE html>

<html lang="en">
  <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
        <link rel="stylesheet" href={{ stylesheet }}>
      <title>Dashboard for country and record wise analytics</title>
  </head>
  <body>
    <header>
		<div class="header-title">
			Dashboard for country and record wise analytics
		</div>
	</header>
    <br><br>
    <div class="content">
    <form class="form-inline" method="POST" action="/">
        <label>
            &nbsp;&nbsp;Country:
            <select name='country'>
              <option selected value="{{ country_select }}">{{country_select}}</option>
              {% for x in country %}
              <option value= "{{x}}">{{x}}</option>"
              {% endfor %}
            </select>
        </label>
        <br><br>&nbsp;&nbsp;
        <label>
            Record:&nbsp;
            <select name='record'>
                <option selected value="{{ record_select }}">{{record_select}}</option>
                {% for y in record %}
                <option value= "{{y}}">{{y}}</option>"
                {% endfor %}
            </select>
        </label>
        <br><br>&nbsp;&nbsp;
        <button type="submit" class="btn btn-default">Go</button>
    </form>
    </div>
    <br>
    &nbsp;(In hectares)
    <content>
        <div class="content">
        &nbsp;&nbsp;> Mean needed land for sequestering the carbon = {{ carbon_mean }}
        <br>
        &nbsp;&nbsp;> Needed land for sequestering the carbon in 2014 = {{ carbon2014 }}
        <br>
        &nbsp;&nbsp;> Total land available in country sequestering carbon in 2014 = {{ total2014 }}
        <br>
        <br>
        </div>
            &nbsp;&nbsp; {{ code|safe }}
     </content>
    <br>
    <img alt="Pie chart" src={{ pie2014 }}>
    <br>
    <img alt="Scatter plot" src={{ yvsgl }}>
    <img alt="Scatter plot" src={{ yvsbul }}>
    <img alt="Scatter plot" src={{ yvsfl }}>
    <img alt="Scatter plot" src={{ yvsfg }}>
    <img alt="Scatter plot" src={{ yvscl }}>
    <img alt="Scatter plot" src={{ yvsc }}>
    <img alt="Scatter plot" src={{ yvst }}>
    <br>
    <h2>
        &nbsp;&nbsp;Selected data description:
    </h2>
    &nbsp;&nbsp;    {{ details|safe }}

    <br>
    <footer>
        Thank you for visiting the dashboard and we hope it was helpful
    </footer>
  </body>

</html>
